header {
    background-color: #2D333B;
    width: 100%;
    height: 70px;   
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}